#joe {
  position: relative;
  float: left;
  width: 50%;
  padding-right: 1em;
}

.sidenav {
  padding-left: 1em !important;
  padding-top: 2em !important;
  width: 33% !important;
  background-color: white !important;
  padding-bottom: 2em !important;
}

 #sidenav-overlay{
   z-index: 0 !important;
   opacity: 0 !important;
 }

.list_1 {
  padding-left: 0.5em !important;
  font-size: 20px;
}

.list_2 {
  padding-left: 4em !important;
  font-size: 20px;
}

.languages {
  display: inline-flex;
}

.lang-tech {
  font-size: 2.86rem;
}

.brand-logo {
  padding-left: 0.5em !important;
}

.modal-content {
  text-align: center;
}


@media screen and (min-width: 1000px) {
  .homz {
    padding-left: 10em;
    padding-right: 10em;
  }
}
