#joe {
  position: relative;
  float: left;
  width: 50%;
  padding-right: 1em;
}

#bio {
  font-size: 23px;
}

#bio-2 {
  font-size: 23px;
}

#bio-3 {
  font-size: 23px;
}

.list_1 {
  padding-left: 0.5em !important;
  font-size: 20px;
}

.list_2 {
  padding-left: 4em !important;
  font-size: 20px;
}

.languages {
  display: inline-flex;
}

.lang-tech {
  font-size: 2.86rem;
}

.brand-logo {
  padding-left: 0.5em !important;
}

.homz {
  font-size: 23px;
  padding-left: 15em;
  padding-right: 15em;
}
